body{
	background-color: rgb(34, 30, 30);
}


.text,h1{
	color: pink;
	text-transform: uppercase;
	padding-left: 20%;
	padding-bottom: 1%;
	padding-top: 2%;

}

.value{
	padding-left: 35%;
}
.btn{
	color: black;
	background-color: rgb(228, 60, 124);
	

}